.posts {
  list-style-type: none;
  margin: 0;
}

.body {
  padding: 1rem;
}

.post {
  margin: .8rem 0;

  a {
  	background: #f4f4f4;
  	color: 	#000000;
  	display: block;
  	text-decoration: none;
  }

  a:hover {
  	background: #e4e4e4e4;
  }

  h2 {
  	margin-bottom: 0;
  }

  p {
  	color: #777777;
  	font-style: italic;
    margin-right: 15px; 
  }
  
  span {
    font-size: .4rem;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }
}	

.content {
  font-size: .8rem;
  display: flex;
  flex-wrap: wrap;
}

.page-info {
  position: relative;
  top: -20px;
}